# Ignore swap files
*~
.DS_Store

**.pyc
**.[oa]
**.out

**.bbl
**.blg
**.aux
**.texpadtmp
**.fls
**.fdb_latexmk
**.toc
**.log
**.gz

# Ignore dask auxiliary files
notebooks/dask-worker-space
notebooks/.ipynb_checkpoints
